<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Validate Unity Inspector Field</Title>
      <Author>Jared Bienz</Author>
      <Description>Ensures that Inspector field is valid or disables the behavior.</Description>
      <Shortcut>valuins</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Object Editable="true">
          <ID>var</ID>
          <ToolTip>The variable to test.</ToolTip>
          <Default>var</Default>
        </Object>
      </Declarations>
      <Code Language="csharp"><![CDATA[if (string.IsNullOrEmpty($var$))
		{
			Debug.LogErrorFormat("'{0}' is required but is not set. {1} has been disabled.", "$var$", this.GetType().Name);
			this.enabled = false;
		}$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>