<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Validate Max</Title>
      <Shortcut>valmax</Shortcut>
      <Description>Throws an ArgumentOutOfRangeException if a variable is not less than or equal to a maximum value.</Description>
      <Author>Jared Bienz</Author>
    </Header>
    <Snippet>
      <Declarations>
        <Object Editable="true">
          <ID>var</ID>
          <ToolTip>The variable to test.</ToolTip>
          <Default>var</Default>
        </Object>
        <Literal>
          <ID>max</ID>
          <ToolTip>The maximum acceptable value.</ToolTip>
          <Default>max</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[if ($var$ > $max$) throw new ArgumentOutOfRangeException(nameof($var$));$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>